@import '~normalize.css';
@import './variables.less';

.view {
  //background: url("/imgs/stanislas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  height: 85%;
  background-position: center;
  overflow: hidden;
}
.color-bg-sub{
  background-color: #151515;
  color: #dadada;
  padding-left: 5px;
  overflow: hidden;
}
.sub-channel {
  height: 15%;
}
.large-row{
  height: 100%;
  width: 20%;
}

.globalChan {
  //border : solid 5px black;
  height: 29.1%;
  width: 83.8%;
  margin: 8% 10% 0% 10%;
}
